@{
    ViewData["Title"] = "Highlights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <!-- short intro about website -->
            <p class="info">
                <strong>Minh Phuong is an aspiring web developer.</strong><br><br>Junior web developer with training in object oriented programming, development, testing and implementation through different frameworks. Skills including, but not limited to: MVC web development, user experience, graphic design and business logic.
            </p>
            <p>Skills:</p>
            <ol>
                <li>Programming Languages: C#, JavaScript ES6 , HTML, CSS, SQL</li>
                <li>Frameworks: Nancy, Razor, ASP.NET, Ember, Angular, React, Bootstrap, Materialize, SemanticUI, UIKit</li>
                <li>Web Dev Tools: GitHub, Atom, Visual Studio, Mono, API, AJAX, Bower, Sass, Gulp, Moqups</li>
                <li>Databases: Microsoft SQL, Firebase, SQL Server Management Studio</li>
                <li>Graphics: Photoshop, InDesign, Illustrator, Sketchbook Pro, Illustration, Layout, Photography</li>
                <li>Softwares: Team Dynamix, FlexPDM, Slack, Egnyte, Audacity, iSpring, Blackboard Learn, Optitex</li>
                <li>Others Microsoft Office Suite, Social Media, Academic & Market Research, Trend Forecasting, Webscraper</li>
                <li>Languages: Bilingual English/ Vietnamese Conversational Italian, Korean</li>
            </ol>
          