@{
    ViewData["Title"] = "Minh Phuong's Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Additional info -->
<div class="addinfo well">
    <div class="self-image">
        <img src="img/self.jpg" alt="Image of Minh" class="self-photo" />
    </div>
    <div class="my-info">
        <strong>Minh Phuong</strong> is a fresh college graduate with a Bachelor in Fashion Design. He likes art, design and fashion. He wants to create the next viral social networking app as well as a new way to shop for fashion and beauty product. In his free time, he likes to frequent bookstores, libray and parks <span class="random"> and also cry about his life as he stuff his face with cheesecakes while watching Netflix</span>.
    </div>
</div>
        </div>

<!-- contact section-->
<div class="contactme">
    <p>
        For any queries, please feel free to <a href="mailto:mphuong@kent.edu">email me</a>.
    </p>
</div>